{% extends "layout.html" %}
{% block content %}
    <div class="box">
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>#</th>
                <th>Nama</th>
                <th>Aksi</th>

            </tr>
            {% for r in role %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ r.roles }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_siswa', id=r.id) }}" class="button is-small is-warning">Edit</a>
                    <a class="button is-small is-danger">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}