{% extends "admin/layout.html" %}
{% block content %}
    <a href="{{ url_for('admin.tambah_topik') }}" class="button is-warning">Tambah</a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nama Kategori</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in topik %}
            <tr> 
                <td>{{ loop.index }}</td>       
                <td>{{ tag.name }}</td>
                <td>
                    <button class="button is-small is-danger">Hapus</button>
                    <a href="{{ url_for('admin.update_topik', id=tag.id) }}" class="button is-small is-warning">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}